<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all teams in the Atlantic Soccer Conference</li>
            <li>...all (current) players on the Boston Penguins (Hint: Boston is the Location, Penguins is the TeamName)</li>
            <li>...all (current) players in the International Collegiate Baseball Conference</li>
            <li>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</li>
            <li>...all football players</li>
            <li>...all teams with a (current) player named "Sophia"</li>
            <li>...all leagues with a (current) player named "Sophia"</li>
            <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>All Teams in the Atlantic Soccer Conference</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>Team Name</th>
            </tr>
            @foreach(var t in ViewBag.AllASC)
            {
                <tr>
                    <td>@t.CurrLeague.Name</td>
                    <td>@t.TeamName</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>All Players in the Boston Penguins</h3>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
            </tr>
            @foreach(var p in ViewBag.BostonPenguinsPlayers)
            {
                <tr>
                    <td>@p.FirstName @p.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>All Players in the International Collegiate Baseball Conference</h3>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
            </tr>
            @foreach(var t in ViewBag.ICBCPlayers)
            {
                <tr>
                    <td>@t.FirstName @t.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>All Players in the American Conference of Amateur Football with the Last Name of Lopez</h3>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
            </tr>
            @foreach(var p in ViewBag.ACAFLopez)
            {
                <tr>
                    <td>@p.FirstName @p.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>All Football Players</h3>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
            </tr>
            @foreach(var t in ViewBag.FootballPlayers)
            {
                <tr>
                    <td>@t.FirstName @t.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h3>Players with the last name "Flores" that do not play for the Washington, Roughriders</h3>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
            </tr>
            @foreach(var t in ViewBag.FloresNotRoughriders)
            {
                <tr>
                    <td>@t.FirstName @t.LastName</td>
                </tr>
            }
        </table>
    </div>
</div>


